Repository ROCm/rocDecode, pull requests merged in 2025-08, with the labels that each got.

#618 removing link to gpu installer
  README.md
  docs/index.rst
  docs/install/rocDecode-prerequisites.rst
Labels: documentation, ci:docs-only

#630 fixed two links
  docs/how-to/using-rocDecode-video-decoder.rst
  docs/tutorials/rocDecode-samples.rst
Labels: documentation, ci:docs-only

#633 Fixed a regression that resulted in CI test failures.
  samples/videoDecode/videodecode.cpp
Labels: bugfix, ci:precheckin

#636 fixed build issues with FFMpeg AVCodec version >=59 changes
  src/rocdecode-host/avcodec/avcodec_videodecoder.cpp
  utils/video_demuxer.h
Labels: enhancement, bugfix, ci:precheckin
